<h1> Create Auction </h1>
<%= form_for [:user, @item] do |f| %>
      <%= f.label :itemname %>
      <%= f.text_field :itemname %>
      <br>
      <%= f.label :expiry %>
      <%= f.date_field :expiry, :default => Time.now %>
      <br>
      <%= f.submit 'Save' %>
<%end%>
